.ctaSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 32px;
}

.sectionTitle {
  font-size: 38px;
  font-weight: 600;
  color: var(--text-color);
  max-width: 60dvw;
  text-align: center;
}

.sectionDescription {
  color: var(--text-color);
  opacity: 0.7;
  font-size: 18px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}

.howItWorksButton,
.freeTrialButton {
  text-transform: none;
  height: 48px;
  border-radius: 12px;
  min-width: 180px;
  font-size: 16px;
  svg {
    margin-left: 6px;
    height: 20px;
    width: 20px;
  }
}

.freeTrialButton {
  background-color: var(--accent-purple);
}

.howItWorksButton {
  background-color: transparent;
  color: var(--text-color);
  opacity: 0.8;
  border: solid 1px #00000070;
  transition: all 0.3s;
  &:hover {
    color: var(--accent-purple);
    border: solid 1px var(--accent-purple);
    opacity: 1;
  }
}

.footerLabel {
  font-size: 14px;
  opacity: 0.7;
  color: var(--text-color);
}
