.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  gap: calc(35% / 6);
  height: 100%;
}

.singleRouteContainer {
  cursor: pointer;
  text-wrap-mode: nowrap;
  text-decoration: none;
}

.singleRouteLabel {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
  font-weight: 600;
  &:hover {
    color: var(--accent-purple);
  }
}

.container {
  height: 50%;
}
