.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  gap: calc(35% / 6);
  height: 100%;
}

.singleRouteContainer {
  cursor: pointer;
  text-wrap-mode: nowrap;
  text-decoration: none;
}

.singleRouteLabel {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
  font-weight: 600;
  &:hover {
    color: var(--accent-purple);
  }
}

.getStartedButton {
  border-radius: 10px;
  text-transform: none;
  background-color: var(--accent-purple);
  text-wrap-mode: nowrap;
  min-width: auto;
  height: 50%;
  &:hover {
    background-color: var(--primary-blue);
  }
}
