:root {
  --background-color: #fff7f7;
  --primary-blue: #1230ae;
  --accent-purple: #6c48c5;
  --soft-accent: rgb(198, 143, 230);
  --text-color: #0f172a;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist.ttf") format("truetype");
}

* {
  font-family: Geist, "sans-serif" !important;
  user-select: none;
}

body {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  margin: 0;
}
